NET "clk" IOSTANDARD = LVCMOS33;
NET "clk" LOC = P83;
#NET "rst" IOSTANDARD = LVCMOS33;
#NET "rst" LOC = P84;
NET "adc_clk" IOSTANDARD = LVCMOS33;
NET "adc_clk" LOC = P91; #P4;
NET "adc_d[0]" IOSTANDARD = LVCMOS33;
NET "adc_d[0]" LOC = P4;
NET "adc_d[1]" IOSTANDARD = LVCMOS33;
NET "adc_d[1]" LOC = P5;
NET "adc_d[2]" IOSTANDARD = LVCMOS33;
NET "adc_d[2]" LOC = P15;
NET "adc_d[3]" IOSTANDARD = LVCMOS33;
NET "adc_d[3]" LOC = P16;
NET "adc_d[4]" IOSTANDARD = LVCMOS33;
NET "adc_d[4]" LOC = P17;
NET "adc_d[5]" IOSTANDARD = LVCMOS33;
NET "adc_d[5]" LOC = P18;
NET "adc_d[6]" LOC = P24 | IOSTANDARD = LVCMOS33;
NET "adc_d[7]" LOC = P27 | IOSTANDARD = LVCMOS33;

NET "status" LOC = P70  | IOSTANDARD = LVCMOS33; //PA3 RX2

NET "a" IOSTANDARD = LVCMOS33;
NET "a" LOC = P66;
NET "b" IOSTANDARD = LVCMOS33;
NET "b" LOC = P67;
NET "c" IOSTANDARD = LVCMOS33;
NET "c" LOC = P36;

NET "spi_clk" LOC = P50 | IOSTANDARD = LVCMOS33;    #PB12-SCK2 also CCLK
NET "spi_ssel_n" LOC = P42 | IOSTANDARD = LVCMOS33;  #PB11 cause PB12 NSS2 also DONE ain't available
NET "spi_miso" LOC = P25 | IOSTANDARD = LVCMOS33;   #PB14 MISO also INIT_B
NET "spi_mosi" LOC = P44 | IOSTANDARD = LVCMOS33;   #PB15 MOSI also D0

NET "led" LOC = P65 | IOSTANDARD = LVCMOS33;
