NET "clk" IOSTANDARD = LVCMOS33;
NET "clk" LOC = P83;
NET "rst" IOSTANDARD = LVCMOS33;
NET "rst" LOC = P84;
NET "adc_clk" IOSTANDARD = LVCMOS33;
NET "adc_clk" LOC = P91; #P4;
NET "adc[0]" IOSTANDARD = LVCMOS33;
NET "adc[0]" LOC = P4;
NET "adc[1]" IOSTANDARD = LVCMOS33;
NET "adc[1]" LOC = P5;
NET "adc[2]" IOSTANDARD = LVCMOS33;
NET "adc[2]" LOC = P15;
NET "adc[3]" IOSTANDARD = LVCMOS33;
NET "adc[3]" LOC = P16;
NET "adc[4]" IOSTANDARD = LVCMOS33;
NET "adc[4]" LOC = P17;
NET "adc[5]" IOSTANDARD = LVCMOS33;
NET "adc[5]" LOC = P18;
NET "adc[6]" LOC = P24 | IOSTANDARD = LVCMOS33;
NET "adc[7]" LOC = P27 | IOSTANDARD = LVCMOS33;

NET "a" IOSTANDARD = LVCMOS33;
NET "a" LOC = P25;
NET "b" IOSTANDARD = LVCMOS33;
NET "b" LOC = P27;
NET "c" IOSTANDARD = LVCMOS33;
NET "c" LOC = P36;

NET "spi_clk" LOC = P50 | IOSTANDARD = LVCMOS33;
NET "spi_sel_n" LOC = P51 | IOSTANDARD = LVCMOS33;
NET "spi_miso" LOC = P25 | IOSTANDARD = LVCMOS33;
NET "spi_mosi" LOC = P44 | IOSTANDARD = LVCMOS33;
